<header class="header--heading">
  <h3 class="header__heading">Hello! This is a blog.</h3>
</header>

<!-- <header class="header--navigation">
  <nav class="header__navigation--wrapper">
    <ul class="header__navigation">
      <li class="header__navigation__item"><a href="">Item 1</a></li>
      <li class="header__navigation__item"><a href="">Item 2</a></li>
      <li class="header__navigation__item"><a href="">Item 3</a></li>
      <li class="header__navigation__item"><a href="">Item 4</a></li>
      <li class="header__navigation__item"><a href="">Item 5</a></li>
    </ul>
  </nav>
</header>

<a href="" class="menu-icon unselectable"><span></span></a> -->